<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/tailwind.css" %}">
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Title</title>
</head>
<body class="bg-gray-100">
<div class="flex flex-col h-screen">
    <header class="w-full sticky top-0">
        {% block navbar %} {% include 'main/navbar.html' %} {% endblock navbar %}
    </header>

    <main class="flex-1 m-auto">
        {% block content %} {% endblock content %}
    </main>
    <footer class="w-full relative bottom-0">
        {% block footer %} {% include 'main/footer.html' %} {% endblock footer %}
    </footer>
</div>
</body>
</html>