<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/tailwind.css" %}">
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Title</title>
</head>
<body class="bg-gray-100 flex flex-col h-screen">
    <header class="w-full fixed top-0 mt-0">
        {% block navbar %} {% include 'main/navbar.html' %} {% endblock navbar %}
    </header>

    <main class="flex-1 m-auto p-6 pt-[80px]">
        {% block content %} {% endblock content %}
    </main>
    <footer class="w-full relative bottom-0">
        {% block footer %} {% include 'main/footer.html' %} {% endblock footer %}
    </footer>

</body>
</html>