{% extends "base.html" %}
{% block content %}
<div class="container py-8 w-screen">
    <div class="justify-between inline-flex min-h-[290px] w-full">
        <div class="px-10 py-6 bg-white m xl:w-[94%] rounded-lg shadow-md flex-auto w-auto">
            <div class="flex items-center justify-between">
                <span class="font-light text-gray-600">{{ object.created_date }}</span>
                <div><a href="#" class="flex items-center"><img
                        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
                        alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                    <h1 class="font-bold text-gray-700 hover:underline">{{ object.author }}</h1>
                </a></div>
            </div>
            <div class="mt-2"><a href="#" class="text-2xl font-bold text-gray-700 hover:underline">{{ object.title }}</a>
                <p class="mt-2 text-gray-600 text-justify">{{ object.content }}!</p>
            </div>
            <div class="mt-5">
                {% for tag in tags %}
                <a href="/tag/{{ tag }}" class="mx-1 px-2 py-1 font-bold text-gray-500 bg-gray-50 rounded-lg hover:bg-gray-500 hover:text-gray-50">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% if user.is_superuser %}
            <div class="flex-auto xl:w-[6%] bg-white h-56 mt-10 py-2 shadow-sm rounded-r-lg w-auto border-l-2 border-gray-100 min-w-[6%]">
            <ul class="mt-1 text-gray-800 font-semibold text-xs">
                <li class="mb-1 hover:bg-gray-100 text-green-500">
                    <a href="/admin/blog/post/{{ object.id }}/change" class="flex p-3 pl-3 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                        </svg>
                        <span class="2xl:block hidden">Edytuj</span>
                    </a>
                </li>
                <li class="mb-1 hover:bg-gray-100 text-red-500">
                    <form
                            method="POST"
                            href="/post/{{ object.id }}/delete"
                            x-on:submit-prevent=""
                    >{% csrf_token %}
                        <div class="flex p-3 pl-3 justify-start items-center">
                            <button class="submit flex">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                                <span class="2xl:block hidden">Usuń</span>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="mb-1 hover:bg-gray-100">
                    <a href="/admin/blog/post/add" class="flex p-3 pl-3 justify-start items-center flex-row">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                        </svg>
                        <span class="2xl:block hidden">Nowy</span>
                    </a>
                </li>
                <li class="mb-1 hover:bg-gray-100">
                    <a href="/admin/blog/post" class="flex p-3 pl-3 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                        </svg>
                        <span class="2xl:block hidden">Lista</span>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>


    <script>
    function deletePost() {
        return {
            formData: {
                id: '',
            },
            message: '',
            submit() {
                this.message = '';

                fetch('/p')
            }
        }
    }
    </script>
{% endblock %}